body {
  font-family: 'Times New Roman','Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'
}

.main{
  width:60%;
  height:80%;
  padding:3% 3% ;

  margin:auto auto;
  background: rgba(20, 20, 52, 0.9);
  
  border-radius: 15px;
}
.contents{
  position:relative;
  z-index:1;
  opacity:0.9;
  color:white;
  padding-left:4%;
}
.Profile{
  margin:25% auto;
}
.name{
  margin:5% auto;
}
.headlinks{
  text-align:left;
  
}
.profile_content{
  /*text-align:left;*/
}

.title{
  color:green;
  font-family:sans-serif;
}
.skills{
  margin:10% auto;
}

.about_title{
  color:rgba(250,100,10,1);
  font-family:sans-serif;
}
.home_name{
  font-family:sans-serif;
}

.list{
  margin-top:10%;
  margin-bottom:10%;
  background-color: rgb(38, 219, 22);
  opacity: 0.6;
  width: 100%;
  color:black;
}
th{
  height:40px;
  background-color: rgb(1, 2, 2);
  color:aquamarine;

}
td{
  height:50px;
}
input{
  height:30px;
}

.sub{
  background-color:rgba(250,100,10,1);
  height:50px;
}
.in{
  background-color: rgb(38, 219, 22);
}
.skillPoint_title{
  font-family:sans-serif;
  color:rgba(250,100,10,1);
  margin-bottom: -9%;
}
.status{
  font-family:sans-serif;
  color:rgb(107, 133, 25);
}
.routine_all{
  font-family:sans-serif;
  color:rgb(229, 243, 31);
}
.add_title{
  font-family:sans-serif;
  color:rgba(250,100,10,1);
}
.calenader{

}
/*
.btn{
  display: inline-block;
  font-size: 16px;
  width: 200px;
  height: 48px;
  border-radius: 48px;
  margin-right: 24px;
  margin-left: 24px;
  color: #fff;
  background-color: #66ccff;
  border: none;
  outline: none;
  box-shadow: 4px 4px #d8d8d8;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
*/
.btn {
  font-family:sans-serif;
  font-weight: 10;
  padding: 1% 2%;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 5px;
  font-size: 15px;
  transition: all 0.5s;
  cursor:pointer;
  margin-left:2%;
  border-color: rgba(20, 20, 52, 0.9);
}
.routine{
  width:90%;
  text-align: center;
  
  font-family: sans-serif;
  font-size: 25px;
}

.delete{
  width:90%;
  text-align: center;
  color:black;
  font-family: sans-serif;
  font-size: 25px;
}

.btn:hover{
  background-color: aqua;
}
.routine:hover{
  background-color:violet;
  background-color:black;
}

.btn:active{
  border-color: inherit;
}
.headlinks{
  margin-left:5%;
}

.English{
  opacity:0.5;

}

.home_name{
  color:rgba(150,10,150,1);
}
.about{
  background-color:rgba(150,10,150,1);
}

.Skills{
  background-color:rgba(40,255,100,1);
}
.links{
  margin-top: 5%;
  font-size: 25px;
  margin-bottom: 5%;
}
.products{
  background-color:rgba(250,100,10,1);
}

.calendar{
  background-color:rgb(208, 241, 18);
}
.calendar_content{
  width: 90%;
  padding-top: 10%;
  text-align: center;
  margin: auto 0%;
}

.calendar_days{
  font-family:sans-serif;
  text-align: center;
  width:90%;
  font-weight:80px;
  padding-top: 5%;
  padding-bottom: 10%;
  opacity: 0.95;
  background-color:rgb(6, 9, 26);
}
.date{
  color: black;
  background-color: greenyellow;
  opacity: 0.9;
}
.week{
  font-family:sans-serif;
  font:bold;
  background-color:rgba(150,10,150,1);
}
.sub:hover{
  background-color: aqua;
}


.owner{
  color:white;
  background-color:rgb(228, 18, 200);
}

.skillpoint{
  text-align: center;
}

.cnt{
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 20px;
}
.skPoint{
  padding-top: 0%;
}

.github{
  background-color: rgba(150,10,150,1);
  border-radius: 10px;
}
.twitter{
  background-color: rgba(40,200,250,1);
  border-radius: 10px;
}
.AtCoder{
  background-color:rgba(255,255,255,1);
  color:black;
  font:15px;
}
.HatenaBlog{
  background-color:rgba(40,255,100,1);
}
.aboutMyself{
  color:white;
}
/*
.btn:active {
  position: relative;
  top: 4px;
  left: 4px;
  box-shadow: none;
}
*/

@media screen and (max-width:420px){
    .Eng{
    display:none;
  }


}
